body {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #202020;
    min-height: 100vh;

    font-family: serif;
}

.btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;

    font-size: 2rem;
    padding: 1em 2rem;
    border-radius: .125em;

    background-image: linear-gradient(45deg,#f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
}